@import '../base/BreakPoints.scss';

// custom device
@mixin rwd($screen) {
    
    @media (min-width: #{$screen + 'px'}) and (max-width: #{$screen +'px'}){
      @content;
    }

  }


.navbar {
    @include media(">=desktop", "<=LGdesktop"){
        display: flex;
        width: 100%;
        overflow: visible;
        background-color: white;
        position: relative;
        border-bottom: 0.5px solid rgba(0,0,0,.15);
    }
    @include media(">=tablet","<=desktop"){
        overflow: hidden;
        background-color: #333;
        position: relative;
        display: flex;
    }
    @include media(">=phone", "<=tablet"){
        overflow: hidden;
    background-color: #333;
    position: relative;
    display: flex;
    }


}
.navbar .center {
    @include media(">=desktop", "<=LGdesktop"){
        display: flex;
        text-align: center;
        width: 1244px;
        margin: 0 auto;
        padding: 0 20px;
    }
    @include media(">=tablet","<=desktop"){
        width: 100%;
        display: flex;
        margin: 0px;
    }
    @include media(">=phone", "<=tablet"){
        width: 100%;
    }
}
.navbar .center .navbarContainer {
    @include media(">=desktop", "<=LGdesktop"){
        display: flex;
        margin: 0 auto;
        cursor: pointer;
    }
    @include media(">=tablet","<=desktop"){
        display: flex;
        margin: 0 auto;
        cursor: pointer;
    }
    @include media(">=phone", "<=tablet"){
        display: none;
    }
}
.navbarContainer a:nth-child(-n+3):after{
    content: '';
    position: relative;
    bottom: 0px;
    right: -16px;
    height: 50%;
    border-right: 1px solid rgba(0,0,0,.15);
}
.navbarContainer a:nth-child(-n+1):before{
    content: '';
    position: relative;
    bottom: 0px;
    left: -16px;
    height: 50%;
    border-right: 1px solid rgba(0,0,0,.15);
}
.navbar  a {
    @include media(">=desktop", "<=LGdesktop"){
        color: black;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }
    @include media(">=tablet","<=desktop"){
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
        cursor: pointer;
    }
    @include media(">=phone", "<=tablet"){
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    cursor: pointer;
    }
    
}
.navbar .navbarIcon {
    @include media(">=desktop", "<=LGdesktop"){
        display: none;
    }
    @include media(">=tablet","<=desktop"){
        display: none;

    }
    @include media(">=phone", "<=tablet"){
    background:  rgba(0,0,0,.15);
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    }
}
.navbar  .center a:hover {
    @include media(">=desktop", "<=LGdesktop"){
        background-color:  rgba(0,0,0,.15);
        color: black;
        top: 0px;
        position: relative;

    }
    @include media(">=tablet","<=desktop"){
        background-color:  rgba(255, 255, 255, 0.15);
        color: white;
    }

}
.navbar .center a:active{
    @include media(">=tablet","<=desktop"){
        background-color: white;

    }
    @include media(">=phone", "<=tablet"){
        background-color: white;
        }
}
.logo{
    @include media(">=desktop", "<=LGdesktop"){
        color: black;
        cursor: pointer;
    }
    @include rwd(1280){
        

    }
    @include media(">=phone", "<=tablet"){
        width: 30%;
    }
}