@font-face{
    font-family: 'Lobster';
    src: url('/static/fonts/LobsterTwo-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'Lobster';
    src: url('/static/fonts/LobsterTwo-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}
@font-face{
    font-family: 'Lobster';
    src: url('/static/fonts/LobsterTwo-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}
