.languages{
    background-color: whitesmoke;
    font-size: $sFont;
    text-align: left;
    padding: 0px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.15),0 2px 3px rgba(0,0,0,.2);
    transition: box-shadow 83ms;
    margin: 0px 2px 0px 2px;

}