//  Font size
$sFont: 15px;

@import './Profile.scss';
@import './Contact.scss';
@import './Languages.scss';
@import './Skills.scss';

.aside{
        width: 50%;
        position: relative;
      
}
.aside section{
    padding: 10px;

}
.aside h3{
    text-align: left;
    padding: 10px;
    background-color: gainsboro;
    margin-top: 0px;
}

.aside p {
    padding: 5px;
    font-size: $sFont;
    line-height: 1.6;
    text-align: left;
    
}

.aside li {
    font-size: $sFont;
    line-height: 1.6;
    text-align: left;
}