.skills-container {
    background-color: whitesmoke;
    columns: 2;
    list-style-type: none;
    width: 100%;
}

.skills{
    box-shadow: 0 0 0 1px rgba(0,0,0,.15),0 2px 3px rgba(0,0,0,.2);
    transition: box-shadow 83ms;
    margin: 0px 2px 0px 2px;
    font-size: $sFont;
}
.skill-container{
display: flex;
margin: 5px;

}
.skill-container img {
    width: 45px !important;
    height: 40px !important;
}
.skill-container li {
    padding: 5px;
}
.skill {
    margin: auto;
    width: 80%;
    padding: 5px;
}
