@import '../components/Header/Main.scss';
@import '../components/Aside/Main.scss';
@import '../components/Bside/Main.scss';
@import '../components/Navbar.scss';
@import '../components/Wrapper.scss';
@import '../components/Hero/Hero.scss';
@import '../components/Hero/Button.scss';
@import '../components/Hero/Social.scss';
@import '../base/BreakPoints.scss';
@import '../components/Grid.scss';


// custom device
@mixin rwd($screen) {
    
  @media (min-width: #{$screen + 'px'}) and (max-width: #{$screen +'px'}){
    @content;
  }

}

.App {
  @include media(">=desktop", "<=LGdesktop"){
      position: relative;
      text-align: center;
      width: 1244px;
      height: auto;
      margin: 0 auto;
  }
  @include media(">=tablet","<=desktop"){
    position: relative;
    text-align: center;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  @include media(">=phone", "<=tablet"){
    position: relative;
    text-align: center;
    width: 100%;
    height: auto;
    margin: 0 auto;
    }


}

.main{

  position: relative;
  height: auto;
  background-color: white;
  z-index: 20;
  padding: 10px;
  margin: 10px;

}


