
.experienceContent {
    background-color: darksalmon;
    font-size: $sFont;
    margin: 0;
    padding: 5px;
    text-align: justify;
    line-height: 150%;

}
.projects {
    background-color: green;
}