
.experienceContent {
    background-color: whitesmoke;
    font-size: $sFont;
    padding: 10px;

}
.projects {
    background-color: whitesmoke;
    font-size: $sFont;
    padding: 10px;
}
.projects p {
    margin-bottom: 15px;
}
.projects p strong{
    font-size: 22px;

}