//font size
$sFont: 15px;

@import './Experience.scss';
@import './Education.scss';
@import './SoftSkills.scss';


.bside{
    width: 100%;
    text-align: left;
}
.bside section{
    padding: 10px;
}
.bside h3{
    padding: 10px;
    background-color: gainsboro;
    margin-top: 0px;

}
.bside p {
    padding: 2px;
    margin: 2px;
    font-size: 15px;
    line-height: 1.6;
    text-align: left;


}