//font size
$sFont: 18px;

@import './Experience.scss';
@import './Education.scss';
@import './SoftSkills.scss';

@mixin box-shadow($params...) {
    -webkit-box-shadow: $params;
    -moz-box-shadow: $params;
    box-shadow: $params;
  }
.bside{
    width: 100%;

}
.bside section{
    padding: 10px;
}
.bside h3{
    border: solid 1px black;
    padding: 15px;
    background-color: gainsboro;
    margin-top: 0px;

}
.bside p {
    font-size: 18px;
    line-height: 1.6;
    text-align: left;


}