// custom device
@mixin rwd($screen) {
    
    @media (min-width: #{$screen + 'px'}) and (max-width: #{$screen +'px'}){
      @content;
    }

  }

.buttonContainer{
	@include rwd(1920){
		visibility: visible;
		}
	@include rwd(1280){
		visibility: visible;

	}
	@include rwd(360){
		visibility: visible;
		margin: 0 auto;
	}
	@include rwd(375){
		visibility: visible;
		margin: 0 auto;
		padding: 15px;
	}

}
.myButton {
	@include rwd(1920){
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:linear-gradient(to bottom, #79bbff 5%, #295a8a 100%);
	background-color:#79bbff;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
	}
	@include rwd(1280){
		box-shadow:inset 0px 1px 0px 0px #bbdaf7;
		background:linear-gradient(to bottom, #79bbff 5%, #295a8a 100%);
		background-color:#79bbff;
		border-radius:6px;
		border:1px solid #84bbf3;
		display:inline-block;
		cursor:pointer;
		color:#ffffff;
		font-family:Arial;
		font-size:18px;
		font-weight:bold;
		padding:6px 24px;
		text-decoration:none;
		text-shadow:0px 1px 0px #528ecc;
	}
	@include rwd(360){
		box-shadow:inset 0px 1px 0px 0px #bbdaf7;
		background:linear-gradient(to bottom, #79bbff 5%, #295a8a 100%);
		background-color:#79bbff;
		border-radius:6px;
		border:1px solid #84bbf3;
		cursor:pointer;
		color:#ffffff;
		font-family:Arial;
		font-size:18px;
		font-weight:bold;
		padding:6px 24px;
		text-decoration:none;
		text-shadow:0px 1px 0px #528ecc;
	}
	@include rwd(375){
		box-shadow:inset 0px 1px 0px 0px #bbdaf7;
		background:linear-gradient(to bottom, #79bbff 5%, #295a8a 100%);
		background-color:#79bbff;
		border-radius:6px;
		border:1px solid #84bbf3;
		cursor:pointer;
		color:#ffffff;
		font-family:Arial;
		font-size:18px;
		font-weight:bold;
		padding:6px 24px;
		text-decoration:none;
		text-shadow:0px 1px 0px #528ecc;
	}
}
.myButton:hover {
	@include rwd(1920){
	background:linear-gradient(to bottom, #295a8a 5%, #79bbff 100%);
	background-color:#295a8a;
	}
	@include rwd(1280){
		background:linear-gradient(to bottom, #295a8a 5%, #79bbff 100%);
		background-color:#295a8a;
	}
	@include rwd(360){
		background:linear-gradient(to bottom, #295a8a 5%, #79bbff 100%);
		background-color:#295a8a;
	}
	@include rwd(375){
		background:linear-gradient(to bottom, #295a8a 5%, #79bbff 100%);
		background-color:#295a8a;
	}
}
.myButton:active {
	@include rwd(1920){
		position:relative;
		top:1px;
	}
	@include rwd(1280){
		position:relative;
		top:1px;
	}
	@include rwd(360){
		position:relative;
		top:1px;
	}
	@include rwd(375){
		position: relative;
		top:1px;
	}

}
