.heroContainer{
    display: flex;
    position: relative;
    min-height: 850px;
}
.heroContainer img{
    position: absolute;
    right: 50px;
    padding: 5px;
    margin: 5px;

}
.heroContainer h1 {
    position: absolute;
    z-index: 999;
    margin: 5px;
    padding: 5px;
    font-size: 34px;

}