.heroContainer{
    display: flex;
    position: relative;
    min-height: 850px;
}
.heroContainer img{
    position: absolute;
    right: 50px;
    padding: 5px;
    margin: 5px;
    width: 600px;
    height: 800px;
    filter: brightness(80%);

}
.contentContainer{
    position: relative;
    width: 100%;
    visibility: hidden;
    margin: 5px;
    padding: 5px;
    font-size: 4rem;
    line-height: 10vh;
    font-family: sans-serif;

}
.hi{
    color: white;
    position: absolute;
    left: 175px;
    z-index: 999;
    top:4em;
}

.myName{
    color: white;
    position: absolute;
    left: 175px;
    top:5.5em;
    z-index: 999;
}

.im{
    color: white;
    position: absolute;
    left: 175px;
    top:7em;
    z-index: 999;

}
span{
    visibility: visible;
    opacity: 0;
    transition: all 0.5s ease;
    transform: translateY(50px);
}
span.fade{
    color: black;
    opacity: 1;
}
span.white{
    color:white;
}