.heroContainer{
    display: flex;
    position: relative;
    min-height: 850px;
}
.heroContainer img{
    position: absolute;
    right: 50px;
    padding: 5px;
    margin: 5px;
    width: 600px;
    height: 800px;
    filter: brightness(80%);

}
.contentContainer{
    position: relative;
    width: 100%;
    visibility: hidden;
    margin: 5px;
    padding: 5px;
    font-size: 4rem;
    line-height: 10vh;
    font-family: sans-serif;
    top:200px;

}
.hi{
    position: absolute;
    left: 0px;
    z-index: 999;
    top:50px;
    text-shadow: 1px 1px white;
}

.myName{
    position: absolute;
    left: 0px;
    top:150px;
    z-index: 999;
    text-shadow: 2px 2px 8px white;
}

.im{
    position: absolute;
    left: 0px;
    top:250px;
    z-index: 999;
    text-shadow: 2px 2px 8px white;

}
span{
    visibility: visible;
    opacity: 0;
    transition: all 0.5s ease;
    transform: translateY(50px);
}
span.fade{
    opacity: 1;
}