// custom device
@mixin rwd($screen) {
    
    @media (min-width: #{$screen + 'px'}) and (max-width: #{$screen +'px'}){
      @content;
    }

  }



.social-container{
    @include rwd(1920){
        visibility: visible;
        z-index: 999;
        width: 40%;
        top: 6.5em;
        left: 325px;
        text-align: left;
    }
    @include rwd(360){
        visibility: visible;
        z-index: 999;
        width: 100%;
        margin: 0 auto;
        font-size: 34px;
    }
    @include rwd(375){
        visibility: visible;
        z-index: 999;
        width: 100%;
        margin: 0 auto;
        font-size: 34px;
    }


}


.faGithub{
    @include rwd(1920){
        position: relative;
        padding: 5px;
        color: black;
        margin: 5px;
    }
    @include rwd(360){
        position: relative;
        padding: 5px;
        color: black;
        margin: 5px;
    }
    @include rwd(375){
        position: relative;
        padding: 5px;
        color: black;
        margin: 5px;
    }

}
.faGoogle{
    @include rwd(1920){
        position: relative;
        padding: 5px;
        color: tomato;
        margin: 5px;
    }
    @include rwd(360){
        position: relative;
        padding: 5px;
        color: tomato;
        margin: 5px;
    }
    @include rwd(375){
        position: relative;
        padding: 5px;
        color: tomato;
        margin: 5px;
    }

}
.faLinked{
    @include rwd(1920){
        position: relative;
        padding: 5px;
        top:3px;
        color: rgb(82, 82, 255);
        margin: 5px;
    }
    @include rwd(360){
        position: relative;
        padding: 5px;
        top:3px;
        color: rgb(82, 82, 255);
        margin: 5px;
    }
    @include rwd(375){
        position: relative;
        padding: 5px;
        top:3px;
        color: rgb(82, 82, 255);
        margin: 5px;
    }


}