// custom device
@mixin rwd($screen) {
    
    @media (min-width: #{$screen + 'px'}) and (max-width: #{$screen +'px'}){
      @content;
    }

  }



.social-container{
    @include rwd(1920){
        visibility: visible;
        text-align: left;
    }
    @include rwd(360){
        position: absolute;
        margin: 0 auto;
        width: 50%;
        left: 125px;
        text-align: center;
        display: flex;
    }
    @include rwd(375){
        visibility: visible;
        width: 100%;
        margin: 0 auto;
        font-size: 34px;
    }


}

