.page-cv{
    .cv-container{
        width: 50%;
        text-align: right;
        margin: auto 0px;

  
    }
    .cv-container-socialMedia{
        width: 50%;
        text-align: left;
        margin-bottom: 5px;
        margin-left: 0px !important;

    }
}