.footer{
    margin-top: 1rem;
    padding: 1rem;
    background-color: #EDAD2D;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;

    &-text{
        margin: 15px 0;
        text-align: center;
    }
  }