
.port-navbar.port-nav-base{
    width: 100%;
    z-index: 15;
    padding: 20px;
    background-color: $primary;
    box-shadow: 0 3px 2px rgba(0,0,0,.21);
    .port-navbar {
        &-brand {
            color: $secondary;
            font-size: 18px;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: bold;
            font-family: "Aleo", "Sant-serif", "Helvetica";
        }

        &-item {
            margin-left: 10px;
            margin-right: 10px;
        }

        &-link {
            color: $secondary;
            font-weight: bold;
            letter-spacing: 0.8px;
            font-size: 14px;
            text-transform: uppercase;
            &.active {
                color: wheat !important;
            }
            &:hover, &:focus {
                color: wheat !important;
            }
        }
       
    }
    
}

.navbar-toggler{
    background-color: wheat;
    border: 1px solid wheat;
}

.logo{
    font-family: "KoronaOne";
    font-size: 34px;
    margin: 5px;
    padding: 5px;

}

.port-navbar.port-nav-base.port-nav-default {
    padding: 20px;
    background-color: $primary !important;
}
