.project-page {
    min-height: 100vh;
    padding: 150px 0;
}
.projects-title{
    margin-bottom: 75px;
}

.form-group{
    color: black;
}

.project-card {
    box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
    color: black;
    margin-bottom: 30px;
    border: none;
    border-radius: 0%;
    .card-img {
        border-radius: 0%;

    }
    
    &:hover {
        cursor: pointer;
    }

    &-image {
        background-color: $secondary;

        &-img {
            height: 225px;
            opacity: 1;
            transition-property: opacity;
            transition-duration: 0.2s;
            transition-delay: .1s;
            transition-timing-function: linear;
        }

        &-img:hover {
            opacity: 0.3;
            transition-property: opacity;
            transition-duration: 0.2s;
            transition-delay: .1s;
            transition-timing-function: linear;
        }
       
    }

    &-title{
        text-align: center;
        font-size: 18px;
        letter-spacing: 0.5px;

    }

    &-text {
        text-align: center;
        font-size: 14px;
        letter-spacing: 0.5px;
    }

}


@media (max-width: 991px) {
    .project-card {
        margin-bottom: 30px;
    }
}