
.skills {
    width: 100%;
    min-height: auto;
    justify-content: flex-end;
    align-items: center;
    padding: 150px 0;

    &-container div.row:nth-child(2) {
        margin-top: 30px;
    }

    .skill {
        border: 5px solid $secondary;
        border-radius: 5%;
        min-height: 250.6px;
        background: white;
        -webkit-filter: drop-shadow(1px 1px 8px rgba(0,0,0,0.3));
        filter: drop-shadow(1px 1px 8px rgba(0,0,0,0.3));

        &-title {
            letter-spacing: 1px;
            margin: 5px;
            text-align: center;
            font-weight: 700;
            font-size: 24px;

        }

        &-text {
            letter-spacing: 1px;
            margin: 5px;
            padding: 5px;
            line-height: 25px;
            text-align: center;
            font-size: 16px;
        }
    }
}

.icon {
    width: 100%;
    height: 100%;
    background-color: $secondary;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 40px;
    border-radius: 50%;
}

.list-inline {
    margin-top: 10px;
}

.background-skills {
    width: 100%;
    min-height: 925px;
    background-color: $background;
}

// .background-skills::after {
//     content: "";
//     background-image: 
//     linear-gradient(to bottom, 
//     rgb(255, 255, 255) 0%,
//      rgba(255, 255, 255, 0) 10%, 
//      rgba(255, 255, 255, 0) 90%, 
//      rgb(255, 255, 255) 100%), 
//      url("/images/background-projects1.png");
//     opacity: 0.3;
//     top: 0;
//     left: 0;
//     bottom: 0;
//     right: 0;
//     position: absolute;
//     z-index: -1;
//     background-repeat: no-repeat;
//     background-size: cover;

// }

@media (max-width: 991px) {

    .skills {
        padding: 50px 0;

        &-container div.row:nth-child(2) {
            margin-top: 0;

        }
        &-container div.row div.col-md-2 {
            display: none;

        }

        &-container div.row div.col-md-4 {
            margin-bottom: 30px;
        }

    }
}
