@import './shared/fonts';
@import './shared/colors.scss';
@import './index';
@import './hero';
@import './about';
@import './header';
@import './portfolio';
@import './projects';
@import './blog';

html, body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Aleo', 'Helvetica';
}

.self-type{
    font-size: 34px;
    font-weight: bold;
    color: white;
}

.absolute{
    position: absolute;
}
.error {
    color:red;
    font-weight: 700;
}

.pointer {
    cursor: pointer;
}

.base-page {
    padding: 150px 0;
    color: white;
    min-height: 100vh;

    .page-header {
        .page-header-title {
            font-weight: 700;
            color: wheat;
            display: inline-block;
            margin-bottom: 20px;
    
        }
    }
}

.margin{
    margin: 5px;
}