@import './shared/fonts';
@import './shared/colors.scss';
@import './index';

@import './header';
@import './portfolio';

html, body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Aleo', 'Helvetica';
    background-color: black;
}

.self-type{
    font-size: 34px;
    font-weight: bold;
    color: white;
}

.absolute{
    position: absolute;
}

.pointer {
    cursor: pointer;
}

.base-page {
    padding-top: 150px;
    color: white;
    min-height: 100vh;

    .page-header {
        .page-header-title {
            font-weight: 700;
            color: wheat;
            display: inline-block;
            margin-bottom: 20px;
    
        }
    }
}

.on {
    display: flex;
}
.off {
    display: none;
}