@import './shared/fonts';
@import './shared/colors.scss';
@import './shared/title';
@import './index';
@import './hero';
@import './about';
@import './header';
@import './portfolio';
@import './projects';
@import './project';
@import './blog';
@import './modal';
@import './whatIDo';
@import './contact';
@import './cv';
@import './footer';

html, body {
    color: black;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Aleo', 'Helvetica';

}

.self-type{
    font-size: 34px;
    font-weight: bold;
    color: white;
}

.absolute{
    position: absolute;
}

.error {
    color:red;
    font-weight: 700;
}

.pointer {
    cursor: pointer;
}

.base-page {
    margin: 150px 0px;
    color: black;
    min-height: 100vh;
    .page-header {
        .page-header-title {
            font-weight: 700;
            color: black;
            display: inline-block;
            margin-bottom: 20px;
    
        }
    }
}

.margin{
    margin: 5px;
}


@media (max-width: 991px) {
    html, body {
        -webkit-user-select: none;  /* Chrome all / Safari all */
        -moz-user-select: none;     /* Firefox all */
        -ms-user-select: none;      /* IE 10+ */
        user-select: none;          /* Likely future */   
    }

}